body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100vh; }
  body #map {
    height: 100%;
    width: 75%; }
  body .menu {
    height: 100%;
    width: 25%;
    background-color: red; }
